<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudydeskDesktopApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <StudydeskDesktopApp.Properties.Settings>
            <setting name="StudydeskDesktopApp_GetTutors_WebServiceGetTutors"
                serializeAs="String">
                <value>https://localhost:44304/WebServiceGetTutors.asmx</value>
            </setting>
            <setting name="StudydeskDesktopApp_Authentication_WebServiceAuthentication"
                serializeAs="String">
                <value>https://localhost:44304/WebServiceAuthentication.asmx</value>
            </setting>
            <setting name="StudydeskDesktopApp_GetTutorById_WebServiceGetTutorById"
                serializeAs="String">
                <value>https://localhost:44304/WebServiceGetTutorById.asmx</value>
            </setting>
            <setting name="StudydeskDesktopApp_PostTutor_WebServicePostTutor"
                serializeAs="String">
                <value>https://localhost:44304/WebServicePostTutor.asmx</value>
            </setting>
            <setting name="StudydeskDesktopApp_PostStudent_WebServicePostStudent"
                serializeAs="String">
                <value>https://localhost:44304/WebServicePostStudent.asmx</value>
            </setting>
            <setting name="StudydeskDesktopApp_PutTutors_WebServiceUpdateTutor"
                serializeAs="String">
                <value>https://localhost:44304/WebServiceUpdateTutor.asmx</value>
            </setting>
            <setting name="StudydeskDesktopApp_GetStudentById_WebServiceGetStudentById"
                serializeAs="String">
                <value>https://localhost:44304/WebServiceGetStudentById.asmx</value>
            </setting>
        </StudydeskDesktopApp.Properties.Settings>
    </applicationSettings>
</configuration>